---
inheritence: 1
---

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>{{ page.title }} | Ruth Corey</title>
    
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />

    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">

    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    {% if page.private == true %}
    <meta name="robots" content="noindex" />
    {% endif %}
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="/assets/css/site.css">
    <script src="/assets/js/modernizr.js"></script>

    <script src="https://use.typekit.net/lfz6oef.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>
<body>

    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page-wrapper">
        
        <div class="site-header clearfix">
            <h1 class="site-heading"><a href="/">RUTH COREY {{ page.inheritence }}</a></h1>
            <ul class="little-nav">
                <li class="twitter"><a href="https://twitter.com/ruthiecorey"><i class="ic-twitter"></i></a></li>
            </ul>
        </div>
        
        <div class="content-wrapper {% if page.header %}has-header{% endif %}">
            <h2>{{ page.myMadeUpNonsense }}</h2>
            {{ content }}
        </div>
        
        <footer class="footer">
            <p>Hand Crafted in Peckham London Copyright © 2017 Ruth Corey</p>
        </footer>
        
    </div>

</body>
</html>

